@model CurrentActorStateViewModel
<div class="row">
    <div class="col-md-6">
        <span>Zio Paperone</span>
    </div>
    <div class="col-md-6">
        @Model.ZioPaperone
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <span>Banda Bassotti</span>
    </div>
    <div class="col-md-6">
        @Model.BandaBassotti
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <span>Qui</span>
    </div>
    <div class="col-md-6">
        @Model.Qui
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <span>Quo</span>
    </div>
    <div class="col-md-6">
        @Model.Quo
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <span>Qua</span>
    </div>
    <div class="col-md-6">
        @Model.Qua
    </div>
</div>